body{
    background-color: black
}


.icon img{
    width: 200px;
    margin-left: 80px;
}


.menu ul{
    list-style-type: none;
    display: inline-flex;
}


.menu ul li{
    display: inline-block;
    position: relative;
}


.menu ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: white;
}


.menu{
    margin-left: 70%;
    margin-top: 20px;
}


.nav{
    background-color: transparent;
    position: relative;
    z-index: 2;
}


.menu ul li ul.dropdown {
    display: none;
    position: absolute;
    padding: 0px;
    margin-left: -40px;
}


.menu ul li:hover ul.dropdown {
    display: block;
    background-color: white;
    width: 200px;
}


.menu ul li:hover ul.dropdown li {
    display: block;
}


.menu ul li ul.dropdown li a {
    padding: 5px;
    margin-left: 0px;
    color: black;
}
.menu ul li ul.dropdown :hover{
    background-color:rgb(188, 197, 200);
}


/*.dropdown{


    position: absolute;
    margin: 10px;
    background-color:black;
    margin-left: -30px;
    border-radius: 10px;
}


.dropdown li{
    display: block;
    padding: 5px;
    margin-left: 50px;
}


.dropdown li a{
    width: 50px;
    display: inline;
    color: white;
}
*/


.video{
   position: absolute;
   overflow: hidden;
   /*border: solid gold 8px;*/
   margin-top: 25px;
   border-bottom-left-radius: 45%;
   border-bottom-right-radius: 45%;
}


video{
    width: 100%;
    height:30%;  
    margin-bottom: -330px;  
}


.main .content{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
}


.text{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}


.para{
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
    margin-bottom: 40px;
    width: 50%;
    font-size: 17px;
}
.content a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}


.heading{
    position: absolute;
    color: white;
    font-size: 40px;
    top: 700px;
    margin-left: 38%;
    font-family: monospace;  
    text-decoration:underline orange;
}


.img1{
    position: absolute;
    height: 180px;
    padding: 50px  55px;
    margin-top: 50%;
    margin-left: 18%;
    border-bottom: solid orange 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    width: 200px;
}


.python h2{
    position: absolute;
    color: white;
    margin-top: 30em;
    font-size: 35px;
    text-transform: capitalize;
    margin-left: 365px;
    font-family: monospace;
}


.pyba{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-top: 55.5em;
    width: 10%;
    text-align: center;
    margin-left: 18%;
    box-shadow: 2px 1px 10px 1px gray;
}


.pyba .re{
    font-family: monospace;
    font-size: 18px;  
}


.pyli{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-top: 55.5em;
    width: 8%;
    text-align: center;
    margin-left: 30%;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 2px 1px 10px 1px gray;
}


.pyli .li{
    padding-top: 15px;
    padding-bottom: 6px;
}


.btn1{
    position: absolute;
    margin-top: 78em;
    margin-left: 330px;
}


.btn1 .but1{
    padding: 10px 25px;
    background-color: darkorange;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}


.btn1 .but1:hover{
    background-color: black;
    color: orange;
    border: 1px solid darkorange;
}


.python .bor1{
    box-shadow: 0px 0px 10px 2px #ff660059;
    height: 515px;
    width: 350px;
    margin-top: 52%;
    margin-left: 16.5%;
    background-color:none;
    border-radius: 0.3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;


}


.containers .python{
    margin-left: -4%;
}


.img2{
    position: absolute;
    height: 180px;
    padding: 50px  55px;
    margin-top: 50%;
    margin-left: 41.4%;
    border-bottom: solid orange 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    width: 200px;
}



.devops h2{
    position: absolute;
    color: white;
    margin-top: 30em;
    font-size: 35px;
    text-transform: capitalize;
    margin-left: 47.8%;
    font-family: monospace;
}


.dev{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-top: 55.5em;
    width: 10%;
    text-align: center;
    margin-left: 41.5%;
    box-shadow: 2px 1px 10px 1px gray;
}


.dev .re2{
    font-family: monospace;
    font-size: 18px;  
}


.deli{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-top: 55.5em;
    width: 8%;
    text-align: center;
    margin-left: 53.5%;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 2px 1px 10px 1px gray;
}


.deli .li2{
    padding-top: 15px;
    padding-bottom: 6px;
}


.btn2{
    position: absolute;
    margin-top: 78em;
    margin-left: 45.5%;
}


.btn2 .but2{
    padding: 10px 25px;
    background-color: darkorange;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}


.btn2 .but2:hover{
    background-color: black;
    color: orange;
    border: 1px solid darkorange;
}


.devops .bor2{
    box-shadow: 0px 0px 10px 2px #ff660059;
    height: 515px;  
    width: 350px;
    margin-top: 52%;
    margin-left: 40%;
    background-color:none;
    position: absolute;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 8px;
}


.containers .devops{
    margin-left: -2%;
}


.img3{
    position:absolute;
    height: 180px;
    padding: 50px  55px;
    margin-top: 50%;
    margin-left: 71.4%;
    border-bottom: solid orange 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    width: 200px;
}


.sql h2{
    position: absolute;
    color:white;
    margin-top: 30em;
    font-size: 35px;
    text-transform: capitalize;
    margin-left: 80%;
    font-family: monospace;
}


.sqba{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-top: 55.5em;
    width: 10%;
    text-align: center;
    margin-left: 72%;
    box-shadow: 2px 1px 10px 1px gray;
}


.sql .re3{
    font-family: monospace;
    font-size: 18px;  
}


.sqli{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-top: 55.5em;
    width: 8%;
    text-align: center;
    margin-left: 83.5%;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 2px 1px 10px 1px gray;
}


.sqli .li3{
    padding-top: 15px;
    padding-bottom: 6px;
}


.btn3{
    position: absolute;
    margin-top: 78em;
    margin-left: 76.5%;
}


.btn3 .but3{
    padding: 10px 25px;
    background-color: darkorange;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}


.btn3 .but3:hover{
    background-color: black;
    color: orange;
    border: 1px solid darkorange;
}


.sql .bor3{
    box-shadow: 0px 0px 10px 2px #ff660059;
    height: 515px;  
    width: 350px;
    margin-top: 52%;
    margin-left: 70%;
    background-color:none;
    position: absolute;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 8px;
}


.containers .sql{
    margin-left: -7%;
}


.heading2{
    position: absolute;
    color: white;
    font-size: 40px;
    margin-top: 35em;
    margin-left: 42%;
    font-family: monospace;  
    text-decoration:underline orange;
}


.features .dlcbor{
    height: 330px;  
    width: 450px;
    margin-top: 95em;
    margin-left: 10%;
    background-color:none;
    position: absolute;
    border: 1px solid darkorange;
}


.dlc .dlcimg{
    position: absolute;
    margin-top: 101%;
    margin-left: 22%;
    height: 95px;
}


.dlc .dlche{
    position: absolute;
    color: white;
    margin-top: 47.5em;
    margin-left: 14%;
    font-size: 35px;
    font-family: monospace;
}


.dlc .dlcp{
    position: absolute;
    color: white;
    margin-top: 75em;
    margin-left: 12%;
    font-size: 23px;
    width: 410px;
    text-align: center;
}


.dlc{
    margin-left: -7%;
}


.dlcbor:hover{
   border: 7px solid darkorange;
   opacity: 0.6;
}


.grid .recbor{
    height: 330px;  
    width: 450px;
    margin-top: 95em;
    margin-left: 38%;
    background-color:none;
    position: absolute;
    border: 1px solid darkorange;
}


.rec .recimg{
    position: absolute;
    margin-top: 101%;
    margin-left: 50%;
    height: 95px;
}


.rec .reche{
    position: absolute;
    color: white;
    margin-top: 47.5em;
    margin-left: 42.4%;
    font-size: 35px;
    font-family: monospace;
}


.rec .recp{
    position: absolute;
    color: white;
    margin-top: 75em;
    margin-left: 39%;
    font-size: 23px;
    width: 430px;
    text-align: center;
}


.rec{
    margin-left: -3%;
}


.recbor:hover{
    border: 7px solid darkorange;
    opacity: 0.6;
}


.grid .smbor{
    height: 330px;  
    width: 450px;
    margin-top: 95em;
    margin-left: 66.8%;
    background-color:none;
    position: absolute;
    border: 1px solid darkorange;
}


.smbor:hover{
    border: 7px solid darkorange;
    opacity: 0.6;
}


.sm .smimg{
    position: absolute;
    margin-top: 102%;
    margin-left: 78%;
    height: 95px;
}


.sm .smhe{
    position: absolute;
    color: white;
    margin-top: 48em;
    margin-left: 72%;
    font-size: 35px;
    font-family: monospace;
}


.sm .smp{
    position: absolute;
    color: white;
    margin-top: 76em;
    margin-left: 67%;
    font-size: 23px;
    width: 430px;
    text-align: center;
}


.grid .rtpbor{
    height: 330px;  
    width: 450px;
    margin-top: 119em;
    margin-left: 3%;
    background-color:none;
    position: absolute;
    border: 1px solid darkorange;
}


.rtpbor:hover{
    border: 7px solid darkorange;
    opacity: 0.6;
}


.rtp .rtpimg{
    position: absolute;
    margin-top: 127.7%;
    margin-left: 15%;
    height: 95px;
}


.rtp .rtphe{
    position: absolute;
    color: white;
    margin-top: 59em;
    margin-left: 6.5%;
    font-size: 35px;
    font-family: monospace;
}


.rtp .rtpp{
    position: absolute;
    color: white;
    margin-top: 92.7em;
    margin-left: 4%;
    font-size: 23px;
    width: 430px;
    text-align: center;
}


.grid .cerbor{
    height: 330px;  
    width: 450px;
    margin-top: 119em;
    margin-left: 35%;
    background-color:none;
    position: absolute;
    border: 1px solid darkorange;
}


.cerbor:hover{
    border: 7px solid darkorange;
    opacity: 0.6;
}


.cer .cerimg{
    position: absolute;
    margin-top: 127.7%;
    margin-left: 47%;
    height: 95px;
}


.cer .cerhe{
    position: absolute;
    color: white;
    margin-top: 59em;
    margin-left: 42%;
    font-size: 35px;
    font-family: monospace;
}


.cer .cerp{
    position: absolute;
    color: white;
    margin-top: 92.7em;
    margin-left: 36%;
    font-size: 23px;
    width: 430px;
    text-align: center;
}


.grid .pabor{
    height: 330px;  
    width: 450px;
    margin-top: 119em;
    margin-left: 67%;
    background-color:none;
    position: absolute;
    border: 1px solid darkorange;
}


.pabor:hover{
    border: 7px solid darkorange;
    opacity: 0.6;
}


.pa .paimg{
    position: absolute;
    margin-top: 127.7%;
    margin-left: 79%;
    height: 95px;


}


.pa .pahe{
    position: absolute;
    color: white;
    margin-top: 59em;
    margin-left: 69%;
    font-size: 35px;
    font-family: monospace;
}


.pa .pap{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
    margin-top: 92.7em;
    margin-left: 68%;
    font-size: 23px;
    width: 430px;
    text-align: center;
}


.fotbac{
    background-color:rgb(61, 58, 58);
    margin-top: 145em;
    height: 370px;
    width: 100%;
}


.col1{
    position: absolute;
    margin-left: 8%;
    margin-top: -28%;
    width: 20%;
    height: 400px;
}


.fotlog{
    margin-top: 30%;
}


.abpp{
    color: white;
    font-size: 18px;
}


.col2{
    margin-left: 32%;
    position: absolute;
    margin-top: -23%;
    width: 20%;
}


.col2 .folhe{
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 27px;
    text-decoration: underline orange;


}


.social ul li a{
    color: white;
    text-decoration: none;
    padding-left: 30px;


}


.social ul li{
    padding: 10px;
    font-size: 20px;
}


.col3{
    width: 15%;
    margin-left: 55%;
    margin-top: -23%;
    position: absolute;
}


.cohe{
    color: white;
    font-size: 27px;
    text-align: center;
    text-decoration: underline orange;
}


.courses ul li{
    padding: 10px;
    font-size: 20px;
}


.courses ul li a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}


.col4{
    position: absolute;
    width: 20%;
    margin-left: 75%;
    margin-top: -23%;
}


.qlhe{
    color: white;
    font-size: 27px;
    margin-left: 15%;
    text-decoration: underline orange;
}


.links ul li{
    padding: 8px;
    font-size: 20px;
}


.links ul li a{
    text-decoration: none;
    color: white;
}


.hr{
    margin-top: -5%;
    width: 90%;
}


.copy{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-left: 23%;


}


.copyright .des{
    position: absolute;
    color: white;
    font-size: 20px;
    margin-left: 70%;
}


.des a{
    text-decoration: none;
    color: aqua;
}


.what img{
    height: 50px;
    margin-left: 96%;
    margin-top: -30px;
}